
.work.wrapper {

  padding-bottom: 40px;

  p, h1, h2, h3, h4, h5, h6, ul, ol {
    max-width: 840px;
    margin: 0 0 0 auto;
  }

  img, .video-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
  }

}
