<p>I&apos;m&nbsp;Henry Hadlow, a product designer. Right&nbsp;now I&apos;m working on <a href="https://www.gov.uk/performance">gov.uk/performance</a>&nbsp;&ndash; improving public services using&nbsp;data.</p>

<p>My&nbsp;work is a mix of design, strategy, user research and getting ideas across. Awards&nbsp;include <a href="https://designmuseum.org/design/designs-of-the-year#design-of-the-year-2013">Design of the Year</a> and a&nbsp;D&amp;AD <a href="http://www.dandad.org/awards/professional/2013/writing-for-design/20081/govuk/">Black&nbsp;Pencil</a>.</p>
