---
---

@import "normalise";
@import "media-query-helpers";
@import "shims";
@import "css3";
@import "colours";
@import "typography";
@import "links";
@import "buttons";
@import "homepage";
@import "default";
@import "videos";
// @import "print";

// Generic styles

html {
  font-size: 62.5%;
}

body {
  background: $lightgrey;
}

::selection {
  color: $black;
  background: transparentize($turquoise, 0.1);
  text-shadow: none;
}
::-moz-selection {
  color: $black;
  background: transparentize($turquoise, 0.1);
  text-shadow: none;
}

header {
  background: $white;
  color: $purple;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  a { border-bottom: 0; }
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1160px;
  @include media(tablet) {
    padding: 0 30px;
  }
}

img {
  max-width: 100%;
  height: auto;
  background-color: transparentize($lightgrey, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  @include transition(opacity .3s ease-in);
}

noscript img {
  opacity: 1;
}

@include media(tablet) {
  div.two-up .one,
  div.two-up .two {
    width: 48.5%;
    float: left;
  }
  div.two-up .one {
    clear: left;
  }
  div.two-up .two {
    float: right;
  }
}

footer p {
  margin-top: 10px;
  padding: 15px 0;
  @include font(13px);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $grey;
  text-align: center;
  clear: both;
}
