---
title: Blog
layout: default
---

<section id="blog">
  {% for post in site.categories.blog %}
    <article id="{{ post.id }}" class="project"
        {% if post.background-color %}
          style="background-color: #{{ post.background-color }}; color: white;"
        {% endif %}
      >
    <div class="wrapper">
      <h1>
        <a href="{{ post.url }}">
          <span class="date">{{ post.date | date: "%Y" }}</span>
          {{ post.title }}
        </a>
      </h1>

      <a href="{{ post.url }}" class="button" alt="Project page for {{ post.title }} (on manofscience.co.uk)">More &rarr;</a>
      {% if post.featured-image %}
        <a href="{{ post.url }}" class="img" alt="Project page for {{ post.title }} (on manofscience.co.uk)">
          {% include img.html src=post.featured-image width="1920" height="1080" %}
        </a>
      {% endif %}

    </div>
    </article>
  {% endfor %}
</section>
