---
title: GO RED!
layout: default
featured-image: go-red/01.jpg
featured-video: 2DCh4WqBw6c
category: projects
---

<h1>
	GO RED!&thinsp;&mdash;&thinsp;professional illustrators play consequences&thinsp;&mdash;&thinsp;unique prints for a great&nbsp;cause
</h1>

<p class="description">The Partners have been working with Richard House Children's Hospice on their annual fundraiser GO RED!</p>

{% include img.html width="1920" height="1080" alt="Three GO RED! sections combined" src="go-red/01.jpg" %}

{% include video.html youtube-key="2DCh4WqBw6c" title="GO RED! &ndash; YouTube" %}

<p>We asked over a hundred professional illustrators to play a giant game of consequences, then created a website where you can mix and match their illustrations to create your own combination, which you can buy, as long as nobody else has beaten you to it!</p>

<p>Each print is completely unique, and the money goes to help the kids at <a href="http://richardhouse.org.uk/" alt="Richard House, London's first childrens' hospice" target="_blank" class="stealth-link">Richard House</a>, London's first childrens' hospice.</p>

{% include img.html width="1920" height="1080" alt="Three GO RED! sections combined" src="go-red/02.jpg" %}

{% include img.html width="1920" height="1080" alt="Three GO RED! sections combined" src="go-red/03.jpg" %}

{% include img.html width="1920" height="1080" alt="Three GO RED! sections combined" src="go-red/04.jpg" %}

{% include img.html width="1920" height="1080" alt="Three GO RED! sections combined" src="go-red/05.jpg" %}

{% include img.html width="1920" height="1080" alt="Three GO RED! sections combined" src="go-red/06.jpg" %}

<p>This campaign ran for one year &ndash; the site has since closed.</p>
