---
title: seditionart.com
layout: default
featured-image: sedition-art/01.jpg
background-color: FF3750
category: projects
---

<h1>
	seditionart.com&thinsp;&mdash;&thinsp;pioneering a new way to buy&nbsp;art
</h1>

<p>Artists such as Damien Hirst and Tracey Emin typically sell limited edition works in small numbers, for large sums money. s[edition] flips that model on it's head. Works are sold in much larger editions but for small sums, making art affordable for everyone.</p>
<p><a href="http://www.seditionart.com" alt="Open www.seditionart.com in a new window" target="_blank">Visit site &rarr;</a></p>

{% include video.html youtube-key="NLtnV-lctRU" title="Elmgreen &amp; Dragset&apos;s &lsquo;Prada Marfa&rsquo; &ndash; YouTube" autoplay="true" %}

<p>Works are primarily video and interactive pieces, making full use of the digital medium.</p>

{% include img.html width="1920" height="2090" alt="s[edition] homepage" src="sedition-art/02.jpg" %}

{% include img.html width="1920" height="1990" alt="s[edition] artwork page" src="sedition-art/03.jpg" %}

{% include video.html youtube-key="AuvLmqIMbzU" title="Isaac Julien&apos;s &lsquo;Encore: Tabula Rasa (Ten Thousand Waves)&rsquo; &ndash; YouTube" autoplay="true" %}

<!-- {% include img.html width="1920" height="1930" alt="s[edition] shopping cart" src="sedition-art/04.jpg" %} -->

<div class="two-up">
    {% include img.html width="1920" height="3833" class="one" alt="s[edition] New artist email" src="sedition-art/05.jpg" %}

    {% include img.html width="1920" height="3804" class="two" alt="s[edition] promotional email" src="sedition-art/06.jpg" %}
</div>

<p><a href="http://www.seditionart.com" alt="Open seditionart.com in a new window" target="_blank">Visit seditionart.com</a></p>
