---
title: GOV.UK Performance
layout: default
featured-image: gov-uk-performance/05.jpg
featured-video: daVZLBeOnWk
background-color: 2B8CC4
---

<h1>GOV.UK Performance&thinsp;&mdash;&thinsp;performance data for government services</h1>

<p>Central government in the UK provides around 800 services &ndash; things like renewing a passport or booking a driving test. We're using data to help improve them.</p>

<p><a href="https://www.gov.uk/performance" alt="Open GOV.UK Perfomance in a new window" target="_blank">Visit site &rarr;</a></p>

{% include img.html width="1920" height="1080" alt="" src="gov-uk-performance/04.jpg" %}

<p>Government typically measures how a service is doing like this&hellip;</p>

{% include img.html width="1920" height="1080" class="one" alt="" src="gov-uk-performance/08.jpg" %}

<p>We're giving every service a dashboard like <a href="https://www.gov.uk/performance/prison-visits" alt="Performance data: prison visit bookings &ndash; GOV.UK" class="stealth-link">this</a>&hellip;</p>

{% include img.html width="1920" height="1080" alt="" src="gov-uk-performance/06.jpg" %}
{% include img.html width="1920" height="1080" alt="" src="gov-uk-performance/07.jpg" %}

<p>The dashboards are public &ndash; no usernames or passwords &ndash; so the government is accountable for the services it provides.</p>

{% include img.html width="1920" height="1080" alt="" src="gov-uk-performance/05.jpg" %}

<p>We've identified the 4 metrics that matter for improving government services.</p>

<p>
  {% include img.html width="840" height="1080" alt="Icons for cost per transaction, user satisfaction, completion rate and digital take-up" src="gov-uk-performance/kpi-icons.png" %}
</p>

<ul class="list-bullet">
  <li>Cost per transaction&nbsp;&ndash; how&nbsp;much does it cost the taxpayer?</li>
  <li>User satisfaction&nbsp;&ndash; how&nbsp;satisfied are the people who use it?</li>
  <li>Completion rate&nbsp;&ndash; how&nbsp;many people manage to use the service successfully, and how many give up?</li>
  <li>Digital take-up&nbsp;&ndash; how&nbsp;many people use the digital service, and how many use the phone or a paper form?</li>
</ul>

<p>&nbsp;</p>

<p>Every dashboard comes with a presentation view &ndash; so it's easy to see how your service is performing.</p>

{% include img.html width="1920" height="1080" alt="" src="gov-uk-performance/01.jpg" %}

<p>And we made an API, so it's easy to make mashups and embed government performance data around the web.</p>

{% include img.html width="1920" height="1080" alt="" src="gov-uk-performance/10.jpg" %}

<p><a href="https://www.gov.uk/performance" alt="Open GOV.UK Performance in a new window" target="_blank">Visit site &rarr;</a></p>
