
.work.wrapper {

  padding-bottom: 40px;

  p, h1, h2, h3, h4, h5, h6, ul, ol {
    max-width: 840px;
    margin: 0 0 0 auto;
  }

  img, .video-wrapper {
    margin-bottom: 15px;

    @include media(tablet) {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    @include media(desktop) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  @include media(tablet) {
    div.two-up .one,
    div.two-up .two {
      width: 48.5%;
      float: left;
    }
    div.two-up .one {
      clear: left;
    }
    div.two-up .two {
      float: right;
    }
  }

}
