
/* --- Link styles --- */

a {
  color: inherit;
  border-bottom: 2px solid;
  display: inline;
  text-decoration: none;
  @include transition( (color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out) );
  @include media(tablet) {
    border-bottom: 4px solid;
  }
}
a:hover {
  color: $blue;
}
a:active {
  color: $purple;
}

.stealth-link {
  border-bottom: dotted;
}
.no-link, a.img, a.video {
  border-bottom: 0;
  &:hover {
    opacity: 0.8;
    @include transition(opacity 0.1s ease-in-out);
    border-bottom: 0;
  }
}
